Global Css*/
*{
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
p{	
    font-family: 'Roboto', sans-serif;
	color: #3E3E3E;
} 

/*Header section start*/
header{
    background-color: #FFFBF0;
}
.nav-custom a{
    margin-right: 10px;
    font-weight: 700;
}

.logo{
    width: 200px;
}
.nav-btn{
    background-color: #9ACD32;
    color: #fff;
    border-radius: 20px;
    padding: 8px 25px;
    border: none;
}

/* Banner SEction Start */
.banner-section{
    padding-top: 20px;
    background-color: #FFFBF0;
    padding-bottom: 30px;
}

.heading-highlight{
    color: #FABE4C;
    font-weight: 700;
}
h1{
    color: #363958;
    font-size: 50px;
    font-weight: 700;
}

.btn-banner {
    background-color: #9ACD32; 
    border: 1px solid #9ACD32; 
    color: white;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }

.btn-banner:hover{
    background: transparent;
    border: 2px solid #9ACD32;
    color: black;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.banner-section img{
    margin-left: 50px;
}
.banner-section p{
    margin-top: 20px;
    line-height: 30px;
    width: 90%;
}

/* Carousel Section start */
.carousel h1{
    padding-top: 70px;
}
.carousel h1{
    padding-left: 10px;
}
.carousel p{
    padding-left: 10px;
    width: 90%;
}
.btn-padding{
    margin-left: 10px;
}

/* Woman Section start */
.woman-section{
    background-color:#fff;
}
.woman-section .border{
    border-radius: 10px;
}
.card img{
    width: 340px;
    height: 360px;
    display: block;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    background-color: rgb(206, 204, 202);
    padding: 10px;
}

.card img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.btn{
    background-color: #9ACD32; 
    border: 1px solid #9ACD32; 
    color: white;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background: transparent;
    border: 2px solid#9ACD32;
    color: black;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.border-radius{
    border-radius: 10px;
}
.banner{
    margin-top: 60px;
}

/* Contact Section */
.contact{
    background-color: rgb(240, 234, 234);
    border-radius: 10px;
    padding: 20px 0;
}
.contact .form{
    width: 70%;
    margin: 0 auto;
}

/* Footer section start */
footer{
    background-color: black;
    width: 100%;
    float: left;
    margin-top: 20px;
    clear: both;
}
footer p, h4, ul{
    text-align: center;
}
.footer-left ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: inline;
    margin: 0px 10px;    
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
}
.footer-left ul{
    padding-right: 20px;
}
.footer-left p{
    padding-left: 8px;
    padding-top: -10px;
    color: rgb(151, 150, 150);
}

.footer-left h4{
    color: #fff;
    font-size: 25px; 
    margin-top: 10px;
}
#name-highlight{
    color: orange;
}